<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    </style>
    <title>QuoteBook</title>
</head>
<body>
    <nav>
        <a href="/quotes">Return to Homepage</a>
        <a href="/quotes/new">Add a Quote</a>
        <a href="/quotes/favorites">Favorites</a>
    </nav>
    <div class="wrapper">
        <h1>Edit Quote</h1>
        <form class="inputs" action="/quotes/<%= quote._id%>?_method=PUT" method="POST">
            Body: <br/><textarea type="text" name="body" style="width:97%;"/><%=quote.body%></textarea><br />
            Author: <br/><input type="text" name="author" value="<%=quote.author%>" style="width:97%;"/><br />
            <input class="button" type="submit" name="" value="Submit Changes"/>
        </form>
    </div>
</body>
</html>