<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>QuoteBook</title>
</head>
<body>
    <nav>
        <a href="/quotes/new">Add a quote</a>
    </nav>
    <h1>QuoteBook</h1>
    <h2>Read and write some words of wisdom.</h2>
    <div id="indexwrapper">
        <% quotes.forEach(quote => { %>
            <div id="indexquote">
                "<%= quote.body %>" 
                </br>
                - <%= quote.author %>
                <form action="/quotes/<%= quote._id %>" style="margin-top: 10px;">
                    <input id="indexbutton" type="submit" value="View">
                </form>
            </div>
        <% }) %>
    </div>
</body>
</html>