<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>QuoteBook</title>
</head>
<body>
    <nav>
        <a href="/quotes">RETURN TO HOMEPAGE</a>
    </nav>
    <div class="wrapper">
        <h1>New Quote</h1>
        <form class="inputs" action="/quotes" method="POST">
            What's on your mind?: <br/> <textarea type="text" name="body" style="width:97%;"/></textarea><br />
            Author: <br/><input type="text" name="author" style="width:97%;"/><br />
            <input class="button" type="submit" name="" value="Leave your mark"/>
        </form>
    </div>
</body>
</html>