<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>QuoteBook</title>
</head>
<body>
    <nav>
        <a href="/quotes">Return to Homepage</a>
        <a href="/quotes/new">Add a quote</a>
    </nav>
    <div class="wrapper">
        <h1>"<%= quote.body %>"</h1>
        <h2>- <%= quote.author %></p>
        <!--Delete form-->
        <form class="showform" action="/quotes/<%= quote.id %>?_method=DELETE" method="POST">
            <input class="button" type="submit" value="Delete"/>
        </form>
        <!--Edit form-->
        <form class="showform" action="/quotes/<%= quote.id %>/edit" method="PUT">
            <input class="button" type="submit" value="Edit"/>
        </form>
        <!--Add to favorites form-->
        <form class="showform" action="/quotes/favorites" method="POST">
            <input class="button" type="submit" value="Add to Favorites"/>
        </form>
    </div>
</body>
</html>