#indexwrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    /* TODO: Fix issue where a very long quote causes index quotes to display oddly*/
}

#indexquote {
    transition: 0.3s;
}

#indexquote {
    border: 1px solid black;
    border-radius: 15px;
    background-color: #f5f4f4;
    padding: 10px 20px 20px 20px;
    text-align: center;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    position: relative;
    box-shadow: 1px 1px 0 rgba(0,0,0,.25);;
}

#indexquote:hover {
    box-shadow: 4px 4px 0 rgba(0,0,0,.25);;
}

#indexbutton {
    transition: 0.3s;
}

#indexbutton {
    position: absolute;
    bottom: 4px;
    left: 45%;
    background-color: lightgreen;
    border-radius: 7px;
    cursor: pointer;
    opacity: 1;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

#indexbutton:hover {
    opacity: 0.7;
}

.showform {
    display: inline-block;
}

.button {
    transition: 0.3s;
}

.button {
    margin-top: 10px;
    background-color: lightgreen;
    border-radius: 7px;
    cursor: pointer;
    opacity: 1;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}   

.button:hover {
    opacity: 0.7;
}

.wrapper {
    padding-top: 5px;
    padding-bottom: 20px;
    border: 1px solid black;
    margin: 10px;
    padding-left: -50px;
    border-radius: 25px;
    background-color: #f5f4f4;
}

.inputs {
    padding-left: 5px;
    margin-bottom: 5px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(250, 241, 232);
    margin:0;
    padding:0;
}

h1, h2 {
    text-align: center;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #404040;
}

nav {
    background-color: lightgreen;
    padding: 10px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    color: #404040;
    margin-right: 40px;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    font-family: Arial, Helvetica, sans-serif;
}